.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-float1 {
  border: solid 2px red;
  margin-bottom: 100px;
  height: 64px;
  max-width: 700px;
}

.main-float1-block1 {
  background-color: rebeccapurple;
  width: 200px;
  height: 50px;
  float: left;
  margin: 5px;
}

.main-float1-block2 {
  background-color: salmon;
  width: 200px;
  height: 50px;
  float: right;
  margin: 5px;
}

.main-float2 {
  border: solid 2px violet;
  margin-bottom: 100px;
  height: 65px;
  max-width: 1200px;
}

.main-float2-block1 {
  background-color: hotpink;
  width: 200px;
  height: 50px;
  float: left;
  margin: 5px;
}

.main-float2-block2 * {
  width: 200px;
  height: 50px;
  float: right;
  margin: 5px;
}

.main-float2-block2 :first-child {
  background-color: olive;
}

.main-float2-block2 :nth-child(2) {
  background-color: blue;
}

.main-float2-block2 :last-child {
  background-color: violet;
}

.main-float3 {
  border: solid 2px firebrick;
  margin-bottom: 100px;
  height: 65px;
  max-width: 1200px;
}

.main-float3-block1 * {
  width: 200px;
  height: 50px;
  float: right;
  margin: 5px;
}

.main-float3-block1 :first-child {
  background-color: red;
}

.main-float3-block1 :last-child {
  background-color: maroon;
}

.main-float3-block2 * {
  width: 200px;
  height: 50px;
  float: left;
  margin: 5px;
}

.main-float3-block2 :first-child {
  background-color: royalblue;
}

.main-float3-block2 :last-child {
  background-color: navajowhite;
}

.main-float4 {
  border: solid 2px gold;
  margin-bottom: 100px;
  height: 130px;
  max-width: 1200px;
}

.main-float4-block1 {
  background-color: honeydewred;
  width: 200px;
  height: 110px;
  margin: 5px;
  float: left;
  margin-left: 780px;
}

.main-float4-block2 * {
  width: 200px;
  height: 50px;
  margin: 5px;
  float: right;
}

.main-float4-block2 :first-child {
  background-color: red;
}

.main-float4-block2 :last-child {
  background-color: pink;
}

.main-float5 {
  border: solid 2px pink;
  margin-bottom: 100px;
  height: 130px;
  max-width: 1200px;
}

.main-float5-block1 {
  background-color: pink;
  width: 200px;
  height: 110px;
  margin: 5px;
  float: left;
  margin-left: 400px;
}

.main-float5-block2 * {
  width: 200px;
  height: 50px;
  margin: 5px;
  float: right;
  margin-right: 385px;
}

.main-float5-block2 :first-child {
  background-color: red;
}

.main-float5-block2 :last-child {
  background-color: red;
}
